
.DS_Store
db/
*.sdo
*.vo
simulation/
incremental_db/
output_files/
*.bak
*.qws
*.qsf
*.qpf
Top Level Entity/Flippin_Bits_Man_Project.v
Top Level Entity/Flippin_Bits_Man_Project.v
Column/Column.v
Game_Logic/Big_State_Machine.v
